<h2>Login page</h2>

<%= form_with model: @session, url: sessions_path do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit 'Submit'%>
<% end %>