<% if @article.errors.any? %>
    <h2>The following errors are preventing from saving:</h2>
    <% @article.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<%= form_with model: @article do |f| %>

<%= f.label :title, class: 'form_link' %>
<%= f.text_field :title, class: 'form_link' %>

<%= f.label :body, class: 'form_link' %>
<%= f.text_area :body, class: 'form_link' %>

<%= f.submit 'Submit', class: 'form_btn' %>
<% end %>