<ul class="navbar">
  <div class="navbar-desktop">
    <%= link_to 'Home', root_path, class: 'nav_link' %>
    <% if user_login? %>
      <%= link_to 'New Article', new_article_path, class: 'nav_link' %>
      <%= form_with url: sessions_path, method: :delete, local: true do |form| %>
        <%= form.submit 'Logout', class: 'nav_btn' %>
      <% end %>
      <%= link_to 'Show User', user_path(session[:user_id]), class: 'nav_link' %>
    <% else %>
      <%= link_to 'Sign Up', signup_path, class: 'nav_link' %>
      <%= link_to 'Login', login_path, class: 'nav_link' %>
    <% end %>
  </div>

  <div class="mobile-navbar">
    <div class="mobile-navbar-links">
      <%= link_to 'Home', root_path, class: 'nav_link' %>
      <div id="myLinks">
        <% if user_login? %>
          <%= link_to 'New Article', new_article_path, class: 'nav_link' %>
          <%= form_with url: sessions_path, method: :delete, local: true do |form| %>
            <%= form.submit 'Logout', class: 'nav_btn' %>
          <% end %>
          <%= link_to 'Show User', user_path(session[:user_id]), class: 'nav_link' %>
        <% else %>
          <%= link_to 'Sign Up', signup_path, class: 'nav_link' %>
          <%= link_to 'Login', login_path, class: 'nav_link' %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="hamburguer"></div>
      <div class="hamburguer"></div>
      <div class="hamburguer"></div>
    </div>
  </div>
</ul>

